{% load static %}
<html>
    <head>
        <style>
            body{
                background-color:rgb(78, 82, 34);
                text-align: center;
            }
            #login{
                  color:aqua;
                
            }
            .forgot{
                text-align: center;
                color: rgb(0, 238, 255);
                
            }

        </style>
        <title>Login</title>
        <link rel="stylesheet" href="{% static 'css\style.css' %}">
    </head>
    <body>
       <h1 id="login" text-align:center; >LOGIN</h1><br><br><br>
        <form>
            <p style="color:green" >Username:</p><input type="text" name="username" placeholder="type here"><br>
            <p style="color:rgb(30, 255, 0);" >Password:</p><input type="password" name="password" placeholder="type password"><br><br>
            <input type="button" name="submit" value="Login"><br>
            <br>
            <h5 class="forgot">forgot-password?</h5>
        </form>
    </body>
</html>    